<mat-toolbar>
  <mat-toolbar-row>
    <div style="font-size: 10px">
      <a class="text-white" href="https://github.com/acayseth" target="_blank">@acayseth</a>
    </div>
    <span class="spacer-1-1"></span>
    <div style="font-size: 10px"></div>
    <span class="spacer-1-1"></span>
    <button mat-icon-button aria-label="button" (click)="goToGitHub()">
      <mat-icon svgIcon="github" aria-hidden="false" aria-label="github" style="line-height:1;"></mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
