# idea
**/.idea
**/.vscode

# turo
**/.turbo

# deps
**/node_modules
**/test
**/.pnp
**/.pnp.js
**/.yarn/install-state.gz

# PWA
**/public/*.js
**/public/*.js.map
**/public/*.json

# next-intl
**/messages
**/i18n.json

# misc
**/.DS_Store
**/*.pem

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# build
**/.next
**/build

# env
**/.env*
!**/.env.example

# typescript
**/*.tsbuildinfo`
