ASTRO_DATABASE_FILE=.astro/content.db
APP_SECRET=<generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))">
THUMBOR_URL=http://10.10.20.10:8000
THUMBOR_KEY=<generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))">
