## Application
# APP_HOST=0.0.0.0
# APP_PORT=4321
APP_SECRET=<generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))">
ASTRO_DB_REMOTE_URL=http://10.10.20.10:8080
ASTRO_DB_APP_TOKEN=<generate with: node scripts/generate-db-token.cjs>

## Thumbor
THUMBOR_URL=http://10.10.20.10:8000
THUMBOR_KEY=<generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))">

# Redis
REDIS_URL=redis://10.10.20.10:6379

# DB
SQLD_AUTH_JWT_KEY=<generate with: node scripts/generate-db-token.js>
