---
import Layout from "@/layouts/Layout.astro";
import DaysOfWeek from "@/components/DaysOfWeek.astro"
import Countdown from "@/components/Countdown.astro"
import Friland from "@/components/Friland.astro"
import { getDayOfWeek, days } from "@/utils/fliland.util";

const { dayOfWeek, targetDate, isFriday } = getDayOfWeek();
---

<Layout title="Acasa" description="Pentru ca vinerea nu se deploy">
  <main class="flex flex-col items-center justify-center px-4 text-center gap-4">
    <DaysOfWeek />
    <h1 class="text-4xl sm:text-6xl font-bold">
      {isFriday
        ? "Da, frate! Îi vineri!"
        : `Nu, uai! Ii ${days[dayOfWeek].name.toLowerCase()}`}
    </h1>
    <Countdown />
    <Friland />
  </main>
</Layout>
