mat-toolbar {
  min-height: 40px;

  mat-toolbar-row {
    height: 40px;

    .mat-icon-d {
      font-size: 24px
    }

    .logo {
      ::ng-deep .mat-icon {
        margin-left: 82px;
        height: 50px;
        width: 100px;
      }
      .animation {
        animation-name: stretch;
        animation-duration: 2.0s;
        animation-timing-function: ease-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-play-state: running;
      }
    }

    .spacer {
      flex: 1 1 auto;
    }
  }
}

@keyframes stretch {
  0% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1.1);
  }
}
