mat-toolbar {
  min-height: 40px;

  mat-toolbar-row {
    height: 40px;

    .mat-icon-d {
      font-size: 24px
    }

    .logo {
      ::ng-deep .mat-icon {
        height: 50px;
        width: 100px;
      }
    }

    .spacer-1-1 {
      flex: 1 1 auto;
    }
  }
}
