---
import { Icon } from "astro-icon/components";
---

<footer class="sticky top-[100vh] print:hidden w-full py-6 px-6 bg-neutral text-neutral-content">
    <div class="max-w-7xl mx-auto flex flex-col sm:flex-row justify-between items-center gap-4 px-6">
        <aside class="text-center sm:text-left">
          <p class="font-lobster text-xl">iivineri</p>
          <p class="text-sm opacity-70">Pentru ca vinerea nu se deploy</p>
        </aside>
        <nav>
          <div class="grid grid-flow-col gap-4">
            <a href="https://github.com/orgs/iivineri-org/repositories" target="_blank" rel="noopener" aria-label="GitHub">
              <Icon name="simple-icons:github" class="w-6 h-6 fill-current" />
            </a>
          </div>
        </nav>
    </div>
</footer>
