---
import { Icon } from "astro-icon/components";
---

<footer class="sticky top-[100vh] print:hidden w-full py-6 px-6 bg-neutral text-neutral-content">
    <div class="max-w-7xl mx-auto flex flex-col sm:flex-row justify-between items-center gap-4 px-6">
        <aside class="text-center sm:text-left">
            <a href="/" class="font-lobster text-xl">iivineri</a>
            <p class="text-sm opacity-70">Pentru că vinerea nu se face deploy</p>
        </aside>
        <nav>
          <div class="grid grid-flow-col gap-4">
            <a href="https://github.com/acayseth/iivineri" target="_blank" rel="noopener" aria-label="GitHub">
              <Icon name="simple-icons:github" class="w-6 h-6 fill-current" />
            </a>
          </div>
        </nav>
    </div>
</footer>
