
//countdown {
//  font-size: 3.5rem;
//  font-weight: 300;
//  line-height: 1.2;
//  text-align: center!important;
//  margin-bottom: 5px;
//}

mat-card {
  //height: 400px;

  .gif-zone {
    height: 337px;
    display: unset;
  }

  .mat-card-spinner {
    height: 337px;
  }
  .mat-card-image,
  .mat-card-spinner {
    max-height: 337px;
    height: 337px;
  }

  mat-card-header {
    .header-image {
      background-size: cover;
    }
  }

  mat-card-content {
  }

  mat-card-actions {
    button {
      width: 100%;
    }
  }
}


