html, body {
  min-height: 100%;
  overflow: hidden;
}

body {
  overflow: hidden;
  background-color: #303030;
  font-size: 12px;
  font-family: "Roboto", "Apple Color Emoji", sans-serif, -apple-system, BlinkMacSystemFont;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.clickable {
  cursor: pointer;
}

