mat-card {
  width: 320px;
  padding: 0 16px 0 16px;

  .gif-zone {
    min-height: 200px;
  }

  .mat-card-image {
    width: 100%;
    object-fit: cover;
  }

  mat-card-header {
  }

  mat-card-content {
  }

  mat-card-actions {
    button {
      width: 100%;
    }
  }
}
