@use '~@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$teal-palette),
    accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
    warn: mat.define-palette(mat.$red-palette),
  )
));

$dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: mat.define-palette(mat.$teal-palette),
        accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
        warn: mat.define-palette(mat.$red-palette),
      ),
    )
);

@include mat.all-component-themes($light-theme);


.dark-mode {
  mat-option {
    color: #fafafa !important;
  }

  mat-option.mat-option-disabled {
    color: #fafafa !important;
    opacity: 0.5;
  }

  mat-form-field.mat-form-field {
    &.mat-focused {
      .mat-form-field-label {
        color: #fafafa !important;
      }

      .mat-form-field-ripple {
        background-color: #fafafa !important;
      }
    }

    .mat-form-field-label,
    .mat-form-field-label.mat-focused,
    .mat-form-field.mat-focused.matform-field-should-float {
      color: #fafafa !important;
    }

    .mat-form-field-type-mat-select,
    .mat-form-field-underline,
    .mat-form-field-underline.mat-focused {
      background-color: #fafafa !important;
    }
  }

  @include mat.all-component-colors($dark-theme);
  $font-color: white;
}
