@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/Roboto-Regular.ttf');
}
